@font-face {
    font-family: 'Figtree';
    src:
        url('../assets/fonts/Figtree.woff2') format('woff2'),
        url('../assets/fonts/Figtree.woff') format('woff'),
        url('../assets/fonts/Figtree.ttf') format('truetype');
    font-style: normal;
    font-weight: 1 1000;
}

:root {
    --main-background-color: #ffffff;
    --aside-background-color: #deeaf8;
    --heading-color: black;
    --main-paragraph-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    line-height: 170%;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "menu content";
    height: 100vh;
    color: var(--heading-color);
}

main {
    grid-area: content;
    background-color: var(--main-background-color);
    padding: 40px;
    overflow-y: scroll;
}

section {
    margin-bottom: 1em;
}

h1 {
    font-weight: 400;
    font-size: 2em;
}

p {
    font-size: 1em;
    color: var(--main-paragraph-color);
    margin-bottom: 0.5rem;
}

.centeredContainer{
    align-items: center;
    text-align: center;
}

.doubleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tripleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.accordionButton {
    font-weight: 400;
    font-size: 2em;
    background-color: var(--main-background-color);
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    height: auto;
    border: none;
    text-align: left;
    color: var(--heading-color);
}

.active, .accordionButton:hover {
    background-color: var(--aside-background-color); 
}

.accordionContent {
    display: none;
    overflow: hidden;
    padding: 20px;
    border: 1px solid var(--aside-background-color);
}

#typingEffect{
    height: 1.6em;
}


aside {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 40px;
    background-color: var(--aside-background-color);
}

aside img {
    width: 120px;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

li a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.4em;
}

@media (max-width: 550px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "menu" "content";
        overflow: scroll;
    }

    aside{
        height: auto;
        align-items: center;
    }

    main {
        overflow: unset;
    }

    li {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .doubleContainer{
        grid-template-columns: 1fr;
    }

    .tripleContainer{
        grid-template-columns: 1fr;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-background-color: #1e1e1e;
        --aside-background-color: #2b2b2b;
        --heading-color: #EEEEEE;
        --main-paragraph-color: gray;
    }

    img {
        filter: grayscale(100%) invert(100%);     
    }
}
