@font-face {
    font-family: 'Figtree';
    src:
        url('../assets/fonts/Figtree.woff2') format('woff2'),
        url('../assets/fonts/Figtree.woff') format('woff'),
        url('../assets/fonts/Figtree.ttf') format('truetype');
    font-style: normal;
    font-weight: 1 1000;
}

:root {
    --main-background-color: #ffffff;
    --aside-background-color: #deeaf8;
    --heading-color: black;
    --main-paragraph-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    line-height: 170%;
}

body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-areas: "menu content";
    height: 100vh;
    color: var(--heading-color);
}

main {
    grid-area: content;
    background-color: var(--main-background-color);
    padding: 40px;
    overflow-y: scroll;
}

main ul a {
    text-decoration: underline;
}

section {
    margin-bottom: 1em;
}

h1 {
    font-weight: 400;
    font-size: 2em;
}

p {
    font-size: 1em;
    color: var(--main-paragraph-color);
    margin-bottom: 0.5rem;
}

p a {
    color: var(--main-paragraph-color);
}

p a:hover {
    color: var(--heading-color);
    transition: 0.1s linear;
}

.centeredContainer{
    align-items: center;
    text-align: center;
}

.doubleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tripleContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.accordionButton {
    font-weight: 400;
    font-size: 2em;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    height: auto;
    border: none;
    text-align: left;
    color: var(--heading-color);
    border: 2px solid var(--aside-background-color);
    text-align: center;
    /* background-color: var(--main-background-color); */
    background-color: var(--aside-background-color); 
}

.active, .accordionButton:hover {
    background-color: var(--aside-background-color); 
}

.accordionContent {
    display: block;
    overflow: hidden;
    padding: 20px;
    border: 1px solid var(--aside-background-color);
    font-size: 0.9em;
}

#typingEffect{
    height: 1.6em;
}

.cardContainer {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.personCard {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    grid-template-areas: "img content";
}

.personCard img {
    grid-area: img;
    width: 100%;
    border-radius: 30px;
    display: inline-block;
}

.personCard div {
    grid-area: content;
}


.footerContainer {
    align-items: center;
    text-align: center;
}

.footerContainer p {
    font-size: 1em;
    color: var(--heading-color);
}

#themeSelector {
    content: url("../assets/img/Moon.svg");
    width: 30px;
	height: 30px;
    background-size: cover;
	cursor: pointer;	
    appearance: none;
    transition: 1s ease-in-out;
}

#themeSelector:hover {
    transform: rotate(30deg);
    transition: 1s ease-in-out;
}

#themeSelector:checked {
    content: url("../assets/img/Sun.svg");
    appearance: none;
}

aside {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 40px;
    background-color: var(--aside-background-color);
}

aside img {
    width: 120px;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

li a{
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.4em;
}

li a:hover{
    color: var(--main-paragraph-color);
    transition: 0.15s linear;
}

@media (max-width: 600px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "menu" "content";
        overflow: scroll;
    }

    aside{
        height: auto;
        align-items: center;
    }

    main {
        overflow: unset;
    }

    #themeSelector {
        align-self: center;
    }

    aside li {
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .doubleContainer{
        grid-template-columns: 1fr;
    }

    .tripleContainer{
        grid-template-columns: 1fr;
    }
}




/*-----------------------------------*/
/*-            Dark Mode            -*/
/*-----------------------------------*/
.dark {
    --main-background-color: #1e1e1e;
    --aside-background-color: #2b2b2b;
    --heading-color: #EEEEEE;
    --main-paragraph-color: gray;

    aside img {
        filter: grayscale(100%) invert(100%);     
    }

    main > .centeredContainer > img {
        filter: grayscale(100%) invert(100%);     
    }
}